<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/ranklisting">Ranked Listing</a>
        <a href="/rankgraph">Ranked Graph</a>
        <a href="/moreinfo">Info Page</a>
        <a href="javascript:void(0);" class="icon" onclick="nav_mobile_view()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="page-container">
        <div id="content-wrap">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="footer">
            Develeoped by students from Dixie State University &copy
        </footer>
    </div>
</body>

</html>