{% extends "base.html" %} {% block content %}
<div class="row justify-content-md-center mb-4">
  <h1 class="">SWMAC Mosquito Station Ranking System</h1>
</div>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="row justify-content-md-center mb-4">
                <h5 class="">{{ message }}</h5>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
  
<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <div class="card bg-light mb-3">
      <form method="post" action="/submitdata">

          <div class="card-body">
            <h3 class="card-title">What station do you want to enter data for?</h3>
              <div class="form-group">
                <select name="q1" method="GET" >
                    <option value="{{stations[0]}}" selected>{{stations[0]}}</option>
                        {% for station in stations[1:] %}
                            <option value="{{station}}">{{station}}</option>
                        {% endfor %}
                  </select>
              </div>
          </div>

          <div class="card-body">
            <h3 class="card-title">What is the geography of the station?</h3>
              <div class="form-group">
                <select name="q2" method="GET" >
                    <option value="{{choices[0]}}" selected>{{choices[0]}}</option>
                        {% for choice in choices[1:] %}
                            <option value="{{choice}}">{{choice}}</option>
                        {% endfor %}
                  </select>
              </div>
          </div>

          <div class="card-body">
            <h3 class="card-title">What is the average temperature at the station?</h3>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="q3"
                  rows="1"
                  placeholder="Enter here in celsius:"
                ></textarea>
              </div>
          </div>
        </div>
                    <button type="submit" class="btn btn-primary" name="post-submit">
                      Submit
                    </button>
          </form>
          <div class="row justify-content-md-center mb-4"></div>
          <footer><h6 class="row justify-content-md-center">Develeoped by students from Dixie State University &copy</h6></footer>
    {% endblock %}
  </div>
</div>


    
