{% extends "base.html" %}

{% block content %}
<html>

<body>
    <div class="page_title">
        <h1>
            More information about our scoring algorithm
        </h1>
    </div>
    <div class="page_content">
        <h3>Quick Overview</h3>
        <p> Most of the numbers recorded from the SWMAC do not seem reliable, they are too consistent with multiple values equaling
        100 and the majority equaling 1 or 2. This makes some of the plots of data sparse. Too much time has already been spent
        on digging through what reliable data we can find. A better way of going about this would be to start working on
        formulas we can plug in the information by hand and then look ahead and try to compile the data, then see what
        differences are made. If there is a large inconsistency between the data given and the data we tidied up, the next
        choice would be to break the data down into smaller points and compile the data that way. The temperature data was
        incomplete, so we went out and used python to bring in data that correlates with good data we have on the mosquito to
        have more accurate temperature readings. But we also know that the weather compared to the data received from the
        organization will be less accurate for the most part. But due to the large gaps of no given temperature data we believe
        this is the best way to go about using temperature for our work. </p>
        <h3>How it was Processed</h3>
        <p> Our data was taken from a reorganized version of the data given by the SWMAC, with that data we came up with few charts
        and graphs that can generally depict trends among mosquito species. These trends were the baseline of how we would later
        score a location with a given mosquito population. When providing data for these charts and graphs we only took the
        reliable and consistent data. We also took data for locations like the area code, the coordinates and geography. With
        that we could provide the minimum needed to categorize each location. We also were trying to cluster our data yet that
        proved to not work, since the majority of mosquitos all have the same distributions over the same period where the
        temperature is increasing, they cannot be put into corresponding clusters depending on species or temperature. Another
        reason as to why we could not cluster the data was that it was so sporadic we could not relate the data to the other
        existing data, and we cannot compare categorical data to numerical data. </p>
        <h3>What was Valuable</h3>
        <p> For the most part the data from SWMAC is unusable. We only took the data we deemed necessary, which is the number of
        mosquitos captured for a given location or geography. Using this small sample of data we can compare it to a broad
        number of other types of graphs, be it the distribution of mosquitos from an outside source to another source showing
        the number of mosquitos proportional to the temperature at a given location. With our data we have the numbers and would
        only need to check if the temperature matches the temperature and numbers of the data we are looking into. </p>
    </div>
</body>

{% endblock %}

</html>