{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <div class="page_title">
          <h1 style="font-weight:normal">Ranked graph of treatment priority scores</h1>
        </div>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert">
                            <h5 style="font-weight:normal" >{{ message }}</h5>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="sub_nav">
                <div class="sub_nav_left">
                    <a href="/ranklisting">List View</a>
                </div>
                <div class="sub_nav_right" id="selected_tab">
                    <a href="/rankgraph">Graph View</a>
                </div>
            </div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
            
                {% if data %}

                google.charts.load('current', {'packages':['bar']});
                google.charts.setOnLoadCallback(drawChart);
            
                function drawChart(data) {
                    var data = google.visualization.arrayToDataTable([
                        {% for key, value in data.items() %}
                            {% if value is string %}
                                ['{{ key }}', '{{ value }}'],
                            {% else %}
                                ['{{ key }}', {{ value }}],
                            {% endif %}
                        {% endfor %}
                        ]);

                    var options = {
                        bars: 'horizontal',
                        width: $(window).width()-50,
                        height: 800,
                        colors: ['#4CAF50']
                        };
                    
                    var chart = new google.charts.Bar(document.getElementById('ranked_chart'));
            
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                }

                {% endif %}
                
            </script>

            <div id="ranked_chart"></div>
          
          {% if data %}
        <form class="reset_holder" method="post" action="/resetgraph">
          <button type="submit" class="reset_button" name="post-submit">
            Reset
          </button>
        </form>
        {% endif %}
    </body>
</html> 
{% endblock %}