{% extends "base.html" %}

{% block content %}
<html>
    <head>
    </head>
    <body>
      <div class="row justify-content-md-center mb-4"><h1 class="">Ranked listing of treatment priority scores</h1></div>
        <div class="row justify-content-md-center mb-4">

          <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: center;
            }
            </style>

          <table style="width:70%">
                <tr>
                    <th>Rank</th>
                    <th>Station</th>
                    <th>Score</th>
                </tr>
                  {% for station in stations %}
                      <tr>
                          <td>{{station['rank']}}</td>
                          <td>{{station['q1']}}</td>
                          <td>{{station['score']}}</td>
                      </tr>
                  {% endfor %}
            </table> 
        </div>

        <h1 style="padding-left:15%">
        <form method="post" action="/resetlist">
          <button type="submit" class="btn btn-primary" name="post-submit">
            Reset
          </button>
        </form>
        </h1>

          <footer>
            <h6 class="row justify-content-md-center">
              Designed by students from Dixie State University &copy
            </h6>
          </footer>
    </body>
</html> 
{% endblock %}
