{% extends "base.html" %}

{% block content %}
<html>
    <head>
    </head>
    <body>
        <div class="page_title">
          <h1>Ranked graph of treatment priority scores</h1>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert">
                        <h5>{{ message }}</h5>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>  
          <div class="ranked_image">
            {% if plot_url %}
                <img class="ranked_image_graph" src={{ plot_url}} alt="Chart showing treatment priority scores for each station" >
            {% endif %}
          </div>
          {% if plot_url %}
        <form class="reset_holder" method="post" action="/resetgraph">
          <button type="submit" class="reset_button" name="post-submit">
            Reset
          </button>
        </form>
        {% endif %}
    </body>
</html> 
{% endblock %}